body{
    background-color: rgb(220, 223, 226);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
.Login-Class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 29, 29);
    max-width: 900px;
    line-height:50px ;
    margin-left:140px ;
    margin-top: 230px;
    border-radius: 20px 0;
    color: white;
}
.Login-Class h1{
    font-size: 250%;
    color:rgb(251, 251, 251);
}
.Login-B{
    border-width: 0;
    color: white;
    background-color: rgb(0, 0, 255);
    height: 30px;
    width: 80px;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.6s;
}
.Login-B:hover{
    background-color: rgb(53, 191, 255);
}
