body{
    background-color: darkgrey;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px;
    padding:0px;
}
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.welcome h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.welcome p{
    font-size: 20px;
    margin-bottom: 30px;
}
.welcome a{
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
}